@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 768px) {
  .bg-cover {
    background-size: cover;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }  
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f9f2;
}

.custom-img {
  background-image: url('https://ludumobucket.s3.eu-central-1.amazonaws.com/MTO+IkhoVillage/Front+of+village_+1920x1080.jpg')
}

li:hover .hidden {
  display:block;
}

div.about {
-webkit-column-count: 2;
-moz-column-count: 2;
column-count: 2;
-webkit-column-gap: 10px;
-moz-column-gap: 10px;
column-gap: 10px;
-webkit-column-rule: 1px solid rgba(28,110,164,0.5);
-moz-column-rule: 1px solid rgba(28,110,164,0.5);
column-rule: 1px solid rgba(28,110,164,0.5);
}




